<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.kg.mapper.StyleMapper">

	<resultMap type="paginationBean" id="paginationBeanMap">
		<collection property="rows" column="{pageSize=pageSize ,currPage=currPage}" select="getSongStyle"/>
	</resultMap>
	
	<select id="getAllStyle" resultType="KuSongStyle">
		select * from kuSongStyle where kuSongStylenext=1
	</select>
	
	<select id="getStyleByPagination" parameterType="paginationBean" resultMap="paginationBeanMap">
		select count(1) total,ceil(count(1)/${pageSize}) totalPage,${pageSize} pageSize,${currPage} currPage from kuSongStyle
	</select>

	<select id="getSongStyle" resultType="KuSongStyle">
		select * from
		(select m.*,rownum rn from
		(select * from kuSongStyle where kuSongStylenext=1 order by 1 desc) m where ${currPage}*${pageSize}>=rownum) where rn>(${currPage}-1)*${pageSize}
	</select>
	
	
		<insert id="addSongStyleMsg" parameterType="KuSongStyle">
		insert into kuSongStyle values(seq_kuSongStyle.nextval,#{kuSongStyleName},1,#{kuSongStylesecond})
	</insert>
	
	<update id="delSongStyleMsg" parameterType="int">
		update kuSongStyle set kuSongStylenext=0
		where kuSongStyleId=#{kuSongStyleId}
	</update>
	
	<select id="SongStyleMsg" parameterType="int" resultType="KuSongStyle">
		select * from kuSongStyle where kuSongStyleId=#{sid}
	</select>
	
	<update id="modifySongStyleMsg" parameterType="KuSongStyle">
		update kuSongStyle set kuSongStyleName=#{kuSongStyleName},kuSongStylenext=#{kuSongStylenext},kuSongStylesecond=#{kuSongStylesecond}
		where kuSongStyleId=#{kuSongStyleId}
	</update>
<!-- 	<select id="findStyle" parameterType="int" resultType="KuSongDetail">
		select * from kuSongDetail kd, kuSinger k,kuSong ks where kd.ksongsingId=k.kuSingerId and kd.kudetailsongId=ks.kuSongId
and  kudetailstyleId=#{styleid}
	</select> -->
	
  <resultMap id="detailMap" type="KuSongDetail">
    <id property="kuSongDetailId" column="kuSongDetailId" />
    <result property="ksongsingId" column="ksongsingId" />
    <result property="kudetailsongId" column="kudetailsongId" />
    <result property="kudetailstyleId" column="kudetailstyleId" />
    <result property="songplay" column="songplay" />
    <result property="kusingstatus" column="kusingstatus" />
    <result property="statue" column="statue" />
    <result property="address" column="address" />
    <result property="kusingstatus" column="kusingstatus" />
    <result property="detailtime" column="detailtime" />
    <result property="kunext" column="kunext" />
    <result property="kusecond" column="kusecond" />
    <association property="KuSong" javaType="KuSong">
      <id property="kuSongId" column="kuSongId" />
      <result property="kuSongName" column="kuSongName" />
      <result property="kuSongImg" column="kuSongImg" />
      <result property="kuSongWords" column="kuSongWords" />
      <result property="kuSongAddress" column="kuSongAddress" />
      <result property="kuSongSongtime" column="kuSongSongtime" />
      <result property="kuSongYear" column="kuSongYear" />
      <result property="kuSongNext" column="kuSongNext" />
      <result property="kuSongSecond" column="kuSongSecond" />
    </association>
    <association property="kuSinger" javaType="KuSinger">
      <id property="kuSingerId" column="kuSingerId" />
      <result property="kuSingerName" column="kuSingerName" />
      <result property="kuSingerSex" column="kuSingerSex" />
      <result property="kuSingerImg" column="kuSingerImg" />
      <result property="kuSingerCode" column="kuSingerCode" />
      <result property="kuSingerSingerstate" column="kuSingerSingerstate" />
      <result property="kuSingerSingernext" column="kuSingerSingernext" />
      <result property="kuSingerSingersecond" column="kuSingerSingersecond" />
    </association>
  </resultMap>
  
  <select id="findStyle" parameterType="int" resultMap="detailMap">
  	select * from kuSongDetail kd join kuSinger ks on ks.kuSingerId=kd.ksongsingId
	join kuSong k on kd.kudetailsongId=k.kuSongId where kudetailstyleId=#{styleid}
	and ks.kuSingerSingernext!=0 and k.kuSongNext=1
  </select>
  
<!--
	<select id="getStyleMainByPagination" parameterType="paginationBean" resultMap="paginationBeanMap1">
		select count(1) total,ceil(count(1)/${pageSize}) totalPage,${pageSize} pageSize,${currPage} currPage from KuSongDetail
	</select>
	<resultMap type="paginationBean" id="paginationBeanMap1">
		<collection property="rows" column="{pageSize=pageSize ,currPage=currPage}" select="getSongStyle1"/>
	</resultMap>
	
	<select id="getSongStyle1" resultType="KuSongDetail">
		select * from
		(select m.*,rownum rn from
		(select * from KuSongDetail order by 1 desc) m where ${currPage}*${pageSize}>=rownum) where rn>(${currPage}-1)*${pageSize}
	</select> -->
   <select id="findAllStyle"  resultMap="detailMap">
  	select * from kuSongDetail kd join kuSinger ks on ks.kuSingerId=kd.ksongsingId
	join kuSong k on kd.kudetailsongId=k.kuSongId  where ks.kuSingerSingernext!=0 and k.kuSongNext=1
  </select>
  
  <!-- index页面分页 -->
  
 
  
  <resultMap type="paginationBean" id="paginationBeanMap1">
		<collection property="rows" column="{pageSize=pageSize ,currPage=currPage}" select="getUsers1"/>
	</resultMap>
	
	<select id="listPartStyle1" parameterType="paginationBean" resultMap="paginationBeanMap1">
		select count(1) total,ceil(count(1)/${pageSize}) totalPage,${pageSize} pageSize,${currPage} currPage from kuSongDetail
	</select>
	
	<select id="getUsers1"  resultType="KuSongDetail">
		select * from
		(select m.*,rownum rn from
		(select * from kuSongDetail where order by 1 desc) m where ${currPage}*${pageSize}>=rownum) where rn>(${currPage}-1)*${pageSize}
	</select>

</mapper>
