<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.kg.mapper.StyleMapper">

	<resultMap type="paginationBean" id="paginationBeanMap">
		<collection property="rows" column="{pageSize=pageSize ,currPage=currPage}" select="getSongStyle"/>
	</resultMap>
	
	<select id="getAllStyle" resultType="KuSongStyle">
		select * from kuSongStyle
	</select>
	
	<select id="getStyleByPagination" parameterType="paginationBean" resultMap="paginationBeanMap">
		select count(1) total,ceil(count(1)/${pageSize}) totalPage,${pageSize} pageSize,${currPage} currPage from kuSongStyle
	</select>
	
	<select id="getSongStyle" resultType="KuSongStyle">
		select * from
		(select m.*,rownum rn from
		(select * from kuSongStyle where kuSongStylenext=1 order by 1 desc) m where ${currPage}*${pageSize}>=rownum) where rn>(${currPage}-1)*${pageSize}
	</select>
	
		<insert id="addSongStyleMsg" parameterType="KuSongStyle">
		insert into kuSongStyle values(seq_kuSongStyle.nextval,#{kuSongStyleName},1,#{kuSongStylesecond})
	</insert>
	
	<update id="delSongStyleMsg" parameterType="int">
		update kuSongStyle set kuSongStylenext=0
		where kuSongStyleId=#{kuSongStyleId}
	</update>
	
	<select id="SongStyleMsg" parameterType="int" resultType="KuSongStyle">
		select * from kuSongStyle where kuSongStyleId=#{sid}
	</select>
	
	<update id="modifySongStyleMsg" parameterType="KuSongStyle">
		update kuSongStyle set kuSongStyleName=#{kuSongStyleName},kuSongStylenext=#{kuSongStylenext},kuSongStylesecond=#{kuSongStylesecond}
		where kuSongStyleId=#{kuSongStyleId}
	</update>
	
</mapper>