input {
	width: 280px;
	margin: 10px 0;
}

#loginForm {
	width: 80%;
	margin: 10px auto;
}

#loginBtn {
	width: 100px;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}
.error{
	color:red;	
}